# Arquivos e pastas do Visual Studio
.vs/
*.user
*.suo
*.userosscache

# Pastas de compilação
bin/
obj/

# Arquivos de configuração do VS Code (se usar)
.vscode/

# Arquivos do sistema
.DS_Store
Thumbs.db

# Arquivos de log e temporários
*.log
*.tmp
